:root {
  --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
}

.main-container {
  overflow: hidden;
}

.main-container,
.main-container * {
  box-sizing: border-box;
}

input,
select,
textarea,
button {
  outline: 0;
}

.main-container {
  position: relative;
  width: 375px;
  height: 1040px;
  margin: 0 auto;
  background: #ffffff;
}
.alert {
  position: relative;
  width: 375px;
  height: 65px;
  margin: 67px 0 0 0;
  background: #fafafa;
  border-top: 1px solid #f5f5f5;
  z-index: 81;
}
.div-1 {
  position: absolute;
  width: 351px;
  height: 40px;
  top: 12px;
  left: 12px;
  background: rgba(0, 0, 0, 0);
  z-index: 82;
}
.div-2 {
  position: absolute;
  width: 267px;
  height: 40px;
  top: 0;
  left: 24px;
  background: rgba(0, 0, 0, 0);
  z-index: 86;
}
.button {
  position: absolute;
  width: 48px;
  height: 24px;
  top: 8px;
  left: 303px;
  background: rgba(170, 193, 253, 0.91);
  z-index: 88;
  border-radius: 4px;
}
.allow {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 29px;
  height: 19px;
  top: 5px;
  left: 10px;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 12px;
  font-weight: 400;
  line-height: 14.523px;
  text-align: center;
  white-space: nowrap;
  z-index: 89;
}
.div-3 {
  position: absolute;
  width: 12px;
  height: 16px;
  top: 12px;
  left: 0;
  background: rgba(0, 0, 0, 0);
  z-index: 83;
}
.svg {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  position: absolute;
  width: 12px;
  height: 16px;
  top: 0;
  left: 0;
  z-index: 84;
}
.frame {
  flex-shrink: 0;
  position: relative;
  width: 12px;
  height: 16px;
  background: url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-10-17/CCVEhnFpko.png)
    no-repeat center;
  background-size: cover;
  z-index: 85;
  overflow: hidden;
}
.location-permission {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  width: 267px;
  height: 42px;
  top: 12px;
  left: 36px;
  color: #262626;
  font-family: Inter, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  z-index: 87;
}
.map {
  position: relative;
  width: 375px;
  height: 320px;
  margin: -2px 0 0 -2px;
  background: #f5f5f5;
  z-index: 60;
}
.div-4 {
  position: absolute;
  width: 375px;
  height: 320px;
  top: 0;
  left: 0;
  background: #d4d4d4;
  z-index: 61;
}
.div-5 {
  position: absolute;
  width: 40px;
  height: 136px;
  top: 16px;
  left: 319px;
  background: rgba(0, 0, 0, 0);
  z-index: 68;
}
.button-6 {
  position: relative;
  width: 40px;
  height: 40px;
  margin: 0 0 0 0;
  background: #ffffff;
  z-index: 77;
  overflow: visible auto;
  border-radius: 8px;
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.1);
}
.div-7 {
  position: relative;
  width: 16px;
  height: 16px;
  margin: 12px 0 0 12px;
  background: rgba(0, 0, 0, 0);
  z-index: 78;
}
.svg-8 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  position: absolute;
  width: 16px;
  height: 16px;
  top: 0;
  left: 0;
  z-index: 79;
}
.frame-9 {
  flex-shrink: 0;
  position: relative;
  width: 16px;
  height: 16px;
  background: url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-10-17/YGSmfjJuiN.png)
    no-repeat center;
  background-size: cover;
  z-index: 80;
  overflow: hidden;
}
.plus {
  position: relative;
  width: 40px;
  height: 40px;
  margin: 8px 0 0 0;
  background: #ffffff;
  z-index: 73;
  overflow: visible auto;
  border-radius: 8px;
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.1);
}
.div-a {
  position: relative;
  width: 14px;
  height: 16px;
  margin: 12px 0 0 13px;
  background: rgba(0, 0, 0, 0);
  z-index: 74;
}
.svg-b {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  position: absolute;
  width: 14px;
  height: 16px;
  top: 0;
  left: 0;
  z-index: 75;
}
.frame-c {
  flex-shrink: 0;
  position: relative;
  width: 14px;
  height: 16px;
  background: url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-10-17/sxkSvTkgyU.png)
    no-repeat center;
  background-size: cover;
  z-index: 76;
  overflow: hidden;
}
.minus {
  position: relative;
  width: 40px;
  height: 40px;
  margin: 8px 0 0 0;
  background: #ffffff;
  z-index: 69;
  overflow: visible auto;
  border-radius: 8px;
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.1);
}
.i {
  position: relative;
  width: 14px;
  height: 16px;
  margin: 12px 0 0 13px;
  background: rgba(0, 0, 0, 0);
  z-index: 70;
}
.svg-d {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  position: absolute;
  width: 14px;
  height: 16px;
  top: 0;
  left: 0;
  z-index: 71;
}
.frame-e {
  flex-shrink: 0;
  position: relative;
  width: 14px;
  height: 16px;
  background: url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-10-17/2TXTq4KJ99.png)
    no-repeat center;
  background-size: cover;
  z-index: 72;
  overflow: hidden;
}
.flex-column-e {
  position: absolute;
  width: 375px;
  height: 320px;
  z-index: 67;
}
.i-f {
  position: absolute;
  width: 40.5px;
  height: 57px;
  top: 0;
  left: 53.828px;
  background: rgba(0, 0, 0, 0);
  z-index: 63;
}
.svg-10 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  position: relative;
  width: 40.5px;
  height: 36px;
  margin: 9.5px 0 0 0;
  z-index: 64;
}
.frame-11 {
  flex-shrink: 0;
  position: relative;
  width: 40.5px;
  height: 36px;
  background: url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-10-17/CXkKUTZgT4.png)
    no-repeat center;
  background-size: cover;
  z-index: 65;
  overflow: hidden;
}
.div-12 {
  position: absolute;
  width: 148.172px;
  height: 76px;
  top: 9.5px;
  left: 0;
  background: rgba(0, 0, 0, 0);
  z-index: 62;
}
.map-area {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 66px;
  height: 22px;
  top: 36px;
  left: 43.719px;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  white-space: nowrap;
  z-index: 66;
}
.nearby-counseling {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 149px;
  height: 19px;
  top: 69.5px;
  left: 0;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  text-align: center;
  white-space: nowrap;
  z-index: 67;
}
.search {
  position: absolute;
  width: 375px;
  height: 83px;
  top: 450px;
  left: 0;
  background: #ffffff;
  border-top: 1px solid #e5e5e5;
  z-index: 53;
}
.div-13 {
  position: relative;
  width: 343px;
  height: 50px;
  margin: 16px 0 0 16px;
  background: rgba(0, 0, 0, 0);
  z-index: 54;
}
.input {
  position: absolute;
  width: 343px;
  height: 50px;
  top: 0;
  left: 0;
  background: #fafafa;
  border: 1px solid #d4d4d4;
  z-index: 55;
  border-radius: 8px;
}
.i-14 {
  position: relative;
  width: 30px;
  height: 30px;
  margin: 12px 0 0 10px;
  background: rgba(0, 0, 0, 0);
  z-index: 57;
}
.svg-15 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  position: absolute;
  width: 16px;
  height: 16px;
  top: 0;
  left: 0;
  z-index: 58;
}
.frame-16 {
  flex-shrink: 0;
  position: relative;
  width: 16px;
  height: 16px;
  background: url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-10-17/bjkU3DLsqM.png)
    no-repeat center;
  background-size: cover;
  z-index: 59;
  overflow: hidden;
}
.search-bar {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  width: 300px;
  height: 45px;
  top: 468px;
  left: 56px;
  font-family: Inter, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  z-index: 56;
  border: none;
}
.section {
  position: absolute;
  width: 375px;
  height: 375px;
  top: 533px;
  left: 0;
  background: #ffffff;
}
.content {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 5px;
  position: relative;
  width: 366px;
  margin: 7px 0 0 3px;
  padding: 20px 20px 20px 20px;
  background: #ffffff;
  border: 1px solid #f3f4f6;
  z-index: 26;
  border-radius: 16px;
  box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, 0.05);
}
.rectangle {
  position: relative;
  width: 107px;
  height: 106px;
  background: url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-10-17/FiEKTdzP5C.png)
    no-repeat center;
  background-size: cover;
  z-index: 27;
  border-radius: 10px;
}
.content-17 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 26px;
  position: relative;
  width: 326px;
  background: rgba(0, 0, 0, 0);
  z-index: 42;
}
.button-18 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 10px;
  position: relative;
  width: 150px;
  height: 40px;
  padding: 8px 29px 8px 29px;
  background: rgba(74, 98, 221, 0.85);
  z-index: 43;
  border-radius: 8px;
  box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.05);
}
.frame-19 {
  flex-shrink: 0;
  position: absolute;
  width: 50px;
  height: 19px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -47.37%);
  z-index: 44;
}
.phone {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 28px;
  height: 19px;
  top: 0;
  left: 22px;
  color: #ffffff;
  font-family: Pretendard, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  text-align: center;
  white-space: nowrap;
  z-index: 47;
}
.svg-1a {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  position: absolute;
  width: 14px;
  height: 14px;
  top: 2.5px;
  left: 0;
  z-index: 45;
}
.frame-1b {
  flex-shrink: 0;
  position: relative;
  width: 14px;
  height: 14px;
  background: url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-10-17/pceOwzmAMJ.png)
    no-repeat center;
  background-size: cover;
  z-index: 46;
  overflow: hidden;
}
.button-1c {
  flex-shrink: 0;
  position: relative;
  width: 150px;
  height: 40px;
  background: #f3f4f6;
  z-index: 48;
  border-radius: 8px;
  box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.05);
}
.frame-1d {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  gap: 8px;
  position: relative;
  width: 59px;
  margin: 12px 0 0 46px;
  z-index: 49;
}
.svg-1e {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  width: 14px;
  height: 14px;
  z-index: 50;
}
.frame-1f {
  flex-shrink: 0;
  position: relative;
  width: 14px;
  height: 14px;
  background: url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-10-17/UHPKx6GoL9.png)
    no-repeat center;
  background-size: cover;
  z-index: 51;
  overflow: hidden;
}
.directions {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  width: 37px;
  height: 17px;
  color: #374151;
  font-family: Pretendard, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 16.707px;
  text-align: center;
  white-space: nowrap;
  z-index: 52;
}
.frame-20 {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  position: relative;
  width: 161px;
  z-index: 28;
}
.frame-21 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  width: 173px;
  z-index: 29;
}
.counseling-center {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  top: 5px;
  width: 265px;
  height: 48px;
  color: #000000;
  font-family: Pretendard, var(--default-font-family);
  font-size: 20px;
  font-weight: 500;
  line-height: 23.867px;
  text-align: left;
  z-index: 30;
}
.address {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  width: 375px;
  min-width: 0;
  height: 38px;
  color: #7e7e7e;
  font-family: Pretendard, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 19.094px;
  text-align: left;
  z-index: 31;
}
.frame-22 {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 8px;
  position: relative;
  width: 98px;
  padding: 2px 0 2px 0;
  z-index: 32;
}
.div-23 {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 4px;
  position: relative;
  width: 47px;
  background: rgba(0, 0, 0, 0);
  z-index: 33;
}
.frame-24 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  width: 9px;
  height: 12px;
  padding: 2px 2px 2px 2px;
  z-index: 34;
  overflow: hidden;
}
.vector {
  flex-shrink: 0;
  position: relative;
  left: 30px;
  top:2px;
  width: 9px;
  height: 11.969px;
  background: url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-10-17/OeCRPTBYB4.png)
    no-repeat center;
  background-size: cover;
  z-index: 35;
}
.km {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  width: 34px;
  height: 16px;
  left:35px;
  color: #6b7280;
  font-family: Pretendard, var(--default-font-family);
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
  white-space: nowrap;
  z-index: 36;
}
.frame-25 {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 4px;
  position: relative;
  width: 43px;
  padding: 0 2px 0 2px;
  z-index: 37;
}
.rate-review {
  flex-shrink: 0;
  position: relative;
  width: 12px;
  height: 12px;
  background: url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-10-17/wiJHpiWfdh.png)
    no-repeat center;
  background-size: cover;
  z-index: 38;
  overflow: hidden;
}
.num-1030 {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 16px;
  color: #6b7280;
  font-family: Pretendard, var(--default-font-family);
  font-size: 10px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
  white-space: nowrap;
  z-index: 39;
}
.span {
  flex-shrink: 0;
  position: absolute;
  width: 49px;
  height: 24px;
  top: 5px;
  left: 270px;
  background: #dcfce7;
  z-index: 40;
  border-radius: 9999px;
}
.open {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 14px;
  top: 5px;
  left: 9px;
  color: #15803d;
  font-family: Pretendard, var(--default-font-family);
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  text-align: left;
  white-space: nowrap;
  z-index: 41;
}