:root {
  --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
}

.main-container {
  overflow: hidden;
}

.main-container,
.main-container * {
  box-sizing: border-box;
}

input,
select,
textarea,
button {
  outline: 0;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  position: relative;
  width: 375px;
  height: 1101px;
  margin: 0 auto;
  background: #ffffff;
  border: 2px solid #ced4da;
  overflow: hidden;
  border-radius: 8px;
}
.body {
  flex-shrink: 0;
  top: 60px;  /*이후에 헤더 안맞으면 이 부분 변경 + check-my-btn top 수정*/
  position: relative;
  width: 375px;
  height: 1337px;
  background: rgba(0, 0, 0, 0);
}
.div {
  position: absolute;
  width: 375px;
  height: 1170px;
  top: 0;
  left: 0;
  background: #ffffff;
  z-index: 1;
}
.user-info {
  position: relative; /* 중요: absolute의 기준점 */
  width: 300px;
  bottom: 60px;
  height: 100px;
  margin: 67px 0 0 0;
  background: rgba(0, 0, 0, 0);
  overflow: visible;
  z-index: 83;
}

.div-1 {
  position: relative;
  width: 343px;   
  margin: 16px 0 0 16px;
  bottom : 20px;
  background: #fafafa;
  border: 1px solid #e5e7eb;
  z-index: 84;
  overflow: visible;
  border-radius: 8px;
}
.user-detail {
  position: relative;
  width: 330px;
  height: 48px;
  margin: 17px 0 0 17px;
  background: rgba(0, 0, 0, 0);
  z-index: 85;
}
.img {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  position: absolute;
  width: 48px;
  height: 48px;
  top: 0;
  left: 0;
  z-index: 93;
}
.frame {
  flex-shrink: 0;
  position: relative;
  width: 48px;
  height: 48px;
  border: 1px solid #000000;
  z-index: 94;
  overflow: auto;
  border-radius: 9999px;
}
.flex-column-eae {
  position: absolute;
  width: 100px;
  height: 46px;
  top: 2px;
  left: 60px;
  z-index: 93;
}
.div-2 {
  position: absolute;
  width: 250px;
  height: 44px;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0);
  z-index: 94;
}
.user-name {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 24px;
  top: 0;
  left: 0;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  white-space: nowrap;
  z-index: 96;
}
.caregiver {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 22px;
  top: 24px;
  left: 0;
  color: #525252;
  font-family: Inter, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  white-space: nowrap;
  z-index: 97;
}

.check-my-btn {
  position: absolute;
  top: 10px; /* 원하는 위치 */
  right: 34px;
  z-index: 999;
  padding: 8px 16px;
  background: #4a90e2;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.check-my-btn:hover {
  background: #357abd;
}



.credit-grade {
  position: relative;
  width: 309px;
  height: 86px;
  bottom : 5px ;
  margin: 13px 0 0 17px;
  background: #ffffff;
  border: 1px solid #e5e7eb;
  z-index: 85;
  overflow: visible;
  border-radius: 4px;
}
.div-3 {
  position: relative;
  width: 283px;
  height: 24px;
  margin: 13px 0 0 13px;
  background: rgba(0, 0, 0, 0);
  z-index: 86;
}
.unknown-grade {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 25px;
  top: 0;
  left: 242.094px;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  white-space: nowrap;
  z-index: 88;
}
.credit-grade-4 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 22px;
  top: 2px;
  left: 0;
  color: #525252;
  font-family: Inter, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  white-space: nowrap;
  z-index: 87;
}
.div-5 {
  position: relative;
  width: 283px;
  height: 28px;
  margin: 9px 0 0 13px;
  background: rgba(0, 0, 0, 0);
  z-index: 89;
}
.loan-limit {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 28px;
  top: 0;
  left: 209.953px;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  white-space: nowrap;
  z-index: 91;
}
.loan-info {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 22px;
  top: 4px;
  left: 0;
  color: #525252;
  font-family: Inter, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  white-space: nowrap;
  z-index: 90;
}
.available-loans {
  position: relative;
  width: 375px;
  height: auto;
  margin: 0 0 0 0;
  font-size: 0px;
  background: rgba(0, 0, 0, 0);
  z-index: 13;
  overflow: visible auto;
}
.loan-amount {
  display: block;
  position: relative;
  height: 25px;
  margin: 0 0 0 16px;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  white-space: nowrap;
  z-index: 14;
}
.div-6 {
  position: relative;
  width: 343px;
  height: 198px;
  margin: 15px 0 0 16px;
  background: #ffffff;
  border: 1px solid #e5e5e5;
  z-index: 15;
  overflow: visible auto;
  border-radius: 8px;
}
.flex-row-fc {
  position: relative;
  width: 309px;
  height: 43px;
  margin: 17px 0 0 17px;
  z-index: 24;
}
.div-7 {
  position: absolute;
  width: 309px;
  height: 40px;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0);
  z-index: 16;
}
.div-8 {
  position: absolute;
  width: 210.781px;
  height: 40px;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0);
  z-index: 17;
}
.div-9 {
  position: absolute;
  width: 170.781px;
  height: 40px;
  top: 0;
  left: 40px;
  background: rgba(0, 0, 0, 0);
  z-index: 22;
}
.span {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 25px;
  top: 0;
  left: 0;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  white-space: nowrap;
  z-index: 23;
}
.div-a {
  position: absolute;
  width: 32px;
  height: 32px;
  top: 4px;
  left: 0;
  background: rgba(74, 98, 221, 0.85);
  z-index: 18;
  border-radius: 4px;
}
.div-b {
  position: relative;
  width: 10.5px;
  height: 14px;
  margin: 9px 0 0 10.75px;
  background: rgba(0, 0, 0, 0);
  z-index: 19;
}
.svg {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  position: absolute;
  width: 10.5px;
  height: 14px;
  top: 0;
  left: 0;
  z-index: 20;
}
.frame-c {
  flex-shrink: 0;
  position: relative;
  width: 10.5px;
  height: 14px;
  background: url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-10-17/7k7gRXPPWm.png)
    no-repeat center;
  background-size: cover;
  z-index: 21;
  overflow: hidden;
}
.span-d {
  position: absolute;
  width: 40px;
  height: 24px;
  top: 0;
  left: 269px;
  background: #f5f5f5;
  z-index: 25;
  border-radius: 4px;
}
.span-e {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 19px;
  top: 2px;
  left: 8px;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 12px;
  font-weight: 400;
  line-height: 14.523px;
  text-align: left;
  white-space: nowrap;
  z-index: 26;
}
.span-f {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 19px;
  top: 24px;
  left: 40px;
  color: #525252;
  font-family: Inter, var(--default-font-family);
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
  white-space: nowrap;
  z-index: 24;
}
.flex-row-ae {
  position: relative;
  width: 309.703px;
  height: 70px;
  margin: 6px 0 0 17px;
  z-index: 36;
}
.div-10 {
  position: absolute;
  width: 309px;
  height: 68px;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0);
  z-index: 27;
}
.flex-row-c {
  position: relative;
  width: 309.359px;
  height: 22px;
  margin: 0 0 0 0;
  z-index: 30;
}
.div-11 {
  position: absolute;
  width: 309px;
  height: 20px;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0);
  z-index: 28;
}
.span-12 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 22px;
  top: 0;
  left: 0;
  color: #525252;
  font-family: Inter, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  white-space: nowrap;
  z-index: 29;
}
.span-13 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 22px;
  top: 0;
  left: 258.359px;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  white-space: nowrap;
  z-index: 30;
}
.flex-row-ef {
  position: relative;
  width: 309.234px;
  height: 22px;
  margin: 2px 0 0 0;
  z-index: 33;
}
.div-14 {
  position: absolute;
  width: 309px;
  height: 20px;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0);
  z-index: 31;
}
.span-15 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 22px;
  top: 0;
  left: 0;
  color: #525252;
  font-family: Inter, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  white-space: nowrap;
  z-index: 32;
}
.span-16 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 22px;
  top: 0;
  left: 213.234px;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  white-space: nowrap;
  z-index: 33;
}
.div-17 {
  position: relative;
  width: 309px;
  height: 20px;
  margin: 2px 0 0 0;
  background: rgba(0, 0, 0, 0);
  z-index: 34;
}
.span-18 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 22px;
  top: 48px;
  left: 0;
  color: #525252;
  font-family: Inter, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  white-space: nowrap;
  z-index: 35;
}
.max-10-years {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 22px;
  top: 48px;
  left: 246.703px;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  white-space: nowrap;
  z-index: 36;
}
.button {
  position: relative;
  width: 309px;
  height: 38px;
  margin: 7px 0 0 17px;
  background: rgba(0, 0, 0, 0);
  border: 1px solid #d4d4d4;
  z-index: 37;
  border-radius: 4px;
}
.detail-view {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 61px;
  height: 22px;
  top: 7px;
  left: 125.5px;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 16.943px;
  text-align: center;
  white-space: nowrap;
  z-index: 38;
}



.div-19 {
  position: relative;
  width: 343px;
  height: 200px;
  margin: 12px 0 0 16px;
  background: #ffffff;
  border: 1px solid #e5e5e5;
  z-index: 39;
  overflow: visible auto;
  border-radius: 8px;
}
.flex-row {
  position: relative;
  width: 309px;
  height: 43px;
  margin: 17px 0 0 17px;
  z-index: 40;
}
.div-1a {
  position: absolute;
  width: 309px;
  height: 40px;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0);
  z-index: 40;
}
.div-1b {
  position: relative;
  width: 194.734px;
  height: 40px;
  margin: 0 0 0 0;
  background: rgba(0, 0, 0, 0);
  z-index: 40;
}
.div-1c {
  position: absolute;
  width: 154.734px;
  height: 40px;
  top: 0;
  left: 40px;
  background: rgba(0, 0, 0, 0);
  z-index: 40;
}
.kb-credit-loan {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 25px;
  top: 0;
  left: 0;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  white-space: nowrap;
  z-index: 40;
}
.div-1d {
  position: absolute;
  width: 32px;
  height: 32px;
  top: 4px;
  left: 0;
  background: rgba(74, 98, 221, 0.85);
  z-index: 42;
  border-radius: 4px;
}
.i {
  position: relative;
  width: 14px;
  height: 14px;
  margin: 9px 0 0 9px;
  background: rgba(0, 0, 0, 0);
  z-index: 40;
}
.svg-1e {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  position: absolute;
  width: 14px;
  height: 14px;
  top: 0;
  left: 0;
  z-index: 40;
}
.frame-1f {
  flex-shrink: 0;
  position: relative;
  width: 14px;
  height: 14px;
  background: url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-10-17/J32g4ZRQv9.png)
    no-repeat center;
  background-size: cover;
  z-index: 40;
  overflow: hidden;
}
.kb-bank {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 19px;
  top: 24px;
  left: 40px;
  color: #525252;
  font-family: Inter, var(--default-font-family);
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
  white-space: nowrap;
  z-index: 40;
}
.flex-row-f {
  position: relative;
  width: 309.484px;
  height: 70px;
  margin: 6px 0 0 17px;
  z-index: 40;
}
.div-20 {
  position: absolute;
  width: 309px;
  height: 68px;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0);
  z-index: 49;
}
.flex-row-dae {
  position: relative;
  width: 309.281px;
  height: 22px;
  margin: 0 0 0 0;
  z-index: 52;
}
.div-21 {
  position: absolute;
  width: 309px;
  height: 20px;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0);
  z-index: 50;
}
.interest-rate {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 22px;
  top: 0;
  left: 0;
  color: #525252;
  font-family: Inter, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  white-space: nowrap;
  z-index: 51;
}
.annual-rate {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 22px;
  top: 0;
  left: 218.281px;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  white-space: nowrap;
  z-index: 52;
}
.flex-row-aa {
  position: relative;
  width: 309.234px;
  height: 22px;
  margin: 2px 0 0 0;
  z-index: 55;
}
.div-22 {
  position: absolute;
  width: 309px;
  height: 20px;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0);
  z-index: 53;
}
.limit {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 22px;
  top: 0;
  left: 0;
  color: #525252;
  font-family: Inter, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  white-space: nowrap;
  z-index: 54;
}
.max-amount {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 22px;
  top: 0;
  left: 213.234px;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  white-space: nowrap;
  z-index: 55;
}
.div-23 {
  position: relative;
  width: 309px;
  height: 20px;
  margin: 2px 0 0 0;
  background: rgba(0, 0, 0, 0);
  z-index: 56;
}
.duration {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 22px;
  top: 48px;
  left: 0;
  color: #525252;
  font-family: Inter, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  white-space: nowrap;
  z-index: 57;
}
.max-years {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 22px;
  top: 48px;
  left: 254.484px;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  white-space: nowrap;
  z-index: 58;
}






.button-24 {
  position: relative;
  width: 309px;
  top:0;
  height: 38px;
  margin: 11px 0 0 17px;
  background: rgba(0, 0, 0, 0);
  border: 1px solid #d4d4d4;
  z-index: 9999 !important;
  border-radius: 4px;
}




.details {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 61px;
  height: 22px;
  top: 7px;
  left: 125.5px;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 16.943px;
  text-align: center;
  white-space: nowrap;
  z-index: 40;
}

.caution {
  position: relative;
  width: 375px;
  height: 194px;
  margin: 24px 0 0 0;
  font-size: 0px;
  background: rgba(0, 0, 0, 0);
  z-index: 3;
  overflow: visible auto;
}
.loan-tips {
  display: block;
  position: relative;
  height: 25px;
  margin: 0 0 0 16px;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  white-space: nowrap;
  z-index: 4;
}
.div-38 {
  position: relative;
  width: 343px;
  height: 82px;
  margin: 11px 0 0 16px;
  background: #fafafa;
  border: 1px solid #e5e7eb;
  z-index: 5;
  border-radius: 8px;
}
.div-39 {
  position: absolute;
  width: 309px;
  height: 56px;
  top: 22px;
  left: 16px;
  background: rgba(0, 0, 0, 0);
  z-index: 6;
}
.div-3a {
  position: absolute;
  width: 281px;
  height: 56px;
  top: 0;
  left: 28px;
  background: rgba(0, 0, 0, 0);
  z-index: 10;
}
.excessive-loan-warning {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 22px;
  top: 0;
  left: 0;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  white-space: nowrap;
  z-index: 11;
}
.i-3b {
  position: absolute;
  width: 16px;
  height: 16px;
  top: 4px;
  left: 0;
  background: rgba(0, 0, 0, 0);
  z-index: 7;
}
.svg-3c {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  position: absolute;
  width: 16px;
  height: 16px;
  top: 0;
  left: 0;
  z-index: 8;
}
.frame-3d {
  flex-shrink: 0;
  position: relative;
  width: 16px;
  height: 16px;
  background: url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-10-17/zaUpotd2B1.png)
    no-repeat center;
  background-size: cover;
  z-index: 9;
  overflow: hidden;
}
.repayment-consideration {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  width: 277px;
  height: 35px;
  top: 46px;
  left: 44px;
  color: #525252;
  font-family: Inter, var(--default-font-family);
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
  z-index: 12;
}
.main {
  position: absolute;
  width: 375px;
  height: 1270px;
  top: 67px;
  left: 0;
  background: rgba(0, 0, 0, 0);
  z-index: 2;
}
